*{
    margin: 0;
    padding: 6px;
}
:root{
    --colortexto:white;
}
.ContenedorCarta{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-auto-rows: auto;
   gap: 10px;
}
.imagenTexto{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
img{
    border-radius: 40px;
}
h2{
    text-align: center;
    font-size: 16px;
}
p{
 text-align: justify;
font-size: 16px;
}
div:is(#cartas){
    border-radius: 6px;
}
.carta1{
    background: rgb(120, 35, 200);
    
}
.carta2{
    background: rgb(45, 47, 47);
    color: var(--colortexto);
}
.carta3{
    background: rgb(242, 241, 242);
    grid-area: span 3;
    height: 94%;

}
.carta4{
    background: rgb(242, 241, 242);
height: 90%;
width: 98%;
}
.carta5{
    background: rgb(12, 12, 12);
    height: 90%;
    width: 98%;
    color: var(--colortexto);
}
