.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.584);
    position: fixed;
    z-index: 99;
    top: 0;
    display: none;
    
}

.modal__open {
    
    display: block;

}

.modal__sign {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: white;
    width: 70%;
    max-width: 750px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
    background-color: #FF8400;
    transition: transform .4s ease;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    

}




.modal__ilustration{
    background-color: #F6F1E9;
    width: 600px;
    position: relative;
}

.modal__ilustration--img{
    position: absolute;
    top: 50%;
    width: 90%;
    object-fit: cover;
    top: 27%;
    left: 5%;
}

.modal__info{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    position: relative;
    color: #F6F1E9;
}

.modal__title{

    font-size: 50px;
    margin:40px 0 10px 0;
    font-family: 'Poppins', sans-serif;

}
.modal__span{

    font-size: 12px;
    margin: 0 50px 40px 50px;
    font-family: 'Poppins', sans-serif;
}

.modal__form{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 30%;
   
    
    
}

.modal__input{
    
    border: none;
    background: #F6F1E9;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;

}

.modal__sendB{

    background: rgb(255, 94, 0);
    border: none;
    color: #F6F1E9;
    font-size: 20px;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
    font-family: 'Poppins', sans-serif;

}



.modal__x{
    width: 20px;
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    
    .modal__sign {
         display: flex;
         flex-direction: column;
         background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
         
    
    }

   

    .modal__ilustration{
        
        width: 100px;
        display: none;
    }

    .modal__info{

        display: flex;
        flex-direction: column;
        border: 2px soldi white;
        width: 100%;
        height: 100%;
        justify-content: start;

        padding: 20px;
        
        
        
        color: #F6F1E9;
    }

    .modal__form{

         display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        height: 35%;
         
       
        
        
    }

    .modal__title{

        font-size: 40px;
        margin: 50px 0 20px 0;
        width: 100%;
        
    
    }
    .modal__span{
    
        font-size: 10px;
        margin: 0 10px 30px 10px;
        
        font-family: 'Poppins', sans-serif;
    }

    .modal__input{
    
       
        padding: 5px 20px;
        width: 100%;
        
        
    
    }

    .modal__sendB{

        
       
        font-size: 15px;
        
    
    }
    
}


.carrusel-local {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

.carrusel-local__container {


    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 0 20px 0;

}



.carrusel-local__title {

    font-size: 40px;
    margin: 50px 0 0 0;
    color: var(--fourth);
}

.carrusel-local__border {

    width: 60%;
    height: 20px;
    border-top: 2px solid var(--third);
}

.carrusel-local__text {


    text-align: center;
    width: 300px;
    line-height: 15px;
    letter-spacing: 1px;
    font-size: 11px;
    margin-bottom: 50px;
    color: grey;

}

.carrusel-local__cards {

    display: flex;
    align-items: center;

    flex-direction: row;
    height: 80%;
    width: 600%;
    margin-left: -100%;
    position: relative;
    margin-bottom: 30px;
    transition: all .5s ease;
}

.carrusel-local__card {

    height: 380px;
    width: 2%;
    min-width: 250px;
    border-radius: 20px;
     overflow: hidden; 
    position: relative;
    display: flex;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.63);


}

.carrusel-local__card--info {

    position: absolute;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100%;
    text-align: center;
    top: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);

    transition: all .5s ease;

cursor: pointer;

}



.carrusel-local__card:hover .carrusel-local__card--info {

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.341);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    top: 60%;
}

.carrusel-local__card--socialmedia {


    display: flex;
    width: 100px;
    justify-content: space-between;
    



}

.carrusel-local__card--titles {

    display: flex;
    height: 43px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    letter-spacing: 2px;
}




.carrusel-local__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.carrusel-local__btns {

    position: absolute;
    top: 60%;
   
    border: none;
    background: none;
    cursor: pointer;
    


}

.carrusel-local__arrow {

    fill: var(--third);

    height: 70px;
    width: 70px;
    transition: fill .3s ease;


}

.carrusel-local__arrow:hover {
    fill: var(--third);
}

.carrusel-local__btn-right {

    right: 1%;
}

.carrusel-local__btn-left {

    left: 1%;
}

@media screen and (min-width: 769px) {

    .carrusel-local__cards {

        height: 80%;
        width: 200%;
        margin-left: -33%;
        

    }
}

/* @media screen and (max-height: 415px){
    
    .carrusel-local {
        height: 160vh;
       
    } 
}*/


@media screen and (max-height: 375px ){
    
    .carrusel-local__cards {

        display: flex;
        align-items: center;
    
        flex-direction: row;
        height: 80%;
        width: 600%;
        margin-left: -100%;
        position: relative;
        margin-bottom: 60px;
        transition: all .5s ease;
    }
    
}




