*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: var(--primary);
    
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--third);
    border-radius: 5px;
  }
  
 
h1{
    text-align: center;
    font-size: 3em;
}

/* START:Home and Header */
.home{
    height: 100vh;
    width: 100%;
    background: var(--primary);
}
/* END:Home and Header */


/* START:Carrusul Top Products */
.carrusel-top-products{
    height: 100vh;
    width: 100%;
    background: var(--primary);
}
/* END:Carrusel Top Products */


/* START:Menu Dropdown */
.menu-dropdown{
    height: 100vh;
    width: 100%;
    background: var(--primary);
}
/* END:Menu Dropdown */


/* STAR:Shopping Cart */
.shopping-cart{
    height: 100vh;
    width: 100%;
    background: var(--primary);
}
/* END:Shopping Cart */


/* START:Carrusel Local */

/* END:Carrusel Local */


/* START:Footer */
.footer{
    background: var(--fourth);
}
/* END:Footer */
