@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}
@keyframes background {
    0%{background: #000;}
    25%{background: #333;}
    50%{background: #535151;}
    75%{background: #6d6a6a;}
    100%{background: #ccc;}
}
body{
    width: 100%;
    height: 100%;
    animation: background 5s infinite;
}
.cont{
    margin: 5em auto;
    display: grid;
    width: 63em;
    height: 38em;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 20em 20em;
    font-size: 13px;
}
.card{
    box-shadow: 0 0 7px 5px #333;
    padding: 2em;
    object-fit: cover;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
    border-radius: 10px;
    height: 19em;
    transition: transform .2s ease;
}
.card:hover{
    transform: scale(1.2);
}
.card .perfil{
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 10px;
    font-size: 10px;
}
.card .perfil img{
    border: 1px solid #fff;
    border-radius: 100%;
    width: 24px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.card .perfil .verified{
    font-size: 9px;
    color: #ccc;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.bold{
    font-weight: 500;
    font-size: 15px;
}
.no-bold{
    font-weight: 500;
    font-size: 11px;
    color: #ccc;
}
.card.daniel, .card.patrick{
    width: 32em;
}
.card.jonathan, .card.jeanette{
    width: 16em;
}
.card.daniel{
    background: hsl(263, 55%, 52%) url(img/bg-pattern-quotation.svg) no-repeat right top;
    grid-column: 1 / 3;
    grid-row: 1 ;
}
.card.jonathan{
    background-color: hsl(217, 19%, 35%);
    grid-column: 3 / 4;
    grid-row: 1 ;
}
.card.jeanette{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.card.patrick{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    background-color: hsl(219, 29%, 14%);
}
.card.kira{
    width: 16em;
    height: 40em;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    color: #000;
}
.card.jeanette, .card.kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(210, 22%, 36%)
}
.card.jeanette .no-bold, .card.kira .no-bold{
    color: hsla(210, 19%, 58%, 0.897);
}
.attribution { 
    font-size: 13px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin: .6em auto;
    padding: .9em;
}
.attribution a { 
    color: hsl(0, 100%, 50%); 
}
@media screen and (max-width:425px){
    .cont{
        display: flex;
        flex-direction: column;
        width: 22em;
        height: auto;
        align-items: center;
        margin: 1em auto;
    }
    .card:hover{
        transform: scale(1.1);
    }
    .card.daniel, .card.patrick, .card.jonathan, .card.jeanette, .card.kira{
        width: 20em;
        height: auto;
        box-sizing: content-box;
    }
    .card .no-bold{
        font-size: 13px;
    }
}
