@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #2d343c;
}

/* HEADER SECTION:START */

.container{
    max-width: 100%;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./gallery/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.menu {
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    padding: 0 25px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #f35200;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    backdrop-filter: blur(10px);
    z-index: 10;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #f35200;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
}

.header-txt {
    padding: 0 200px;
    text-align: center;
}

.header-txt h1 {
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header-txt p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: #f35200;
    color: #FFFFFF;
    padding: 13px 35px;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 16px;
}

.btn-1:hover {
    background-color: #b93e00;
}

/* HEADER SECTION:END */

/* PRODUCTOS SECTION:START */

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px;
}

.icon img {
    width: 30px;
}

.products {
    padding: 70px 0 0 0;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 35px;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35;
}

.product {
    margin-bottom: 30px;
}

.product img {
    width: 250px;
}

.product-txt h3 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.product-txt p {
    font-size: 16px;
    color: #ecebeb;
    margin-bottom: 10px;
}

.precio {
    color: #f35200 !important;
}

.btn-2 {
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid #f35200;
    border-radius: 20px;
    color: #FFFFFF;
}

.btn-2:active {
    background-color: #f35200;
    transition: background-color .2s ease-out;
}

/* PRODUCTOS SECTION:END */

/* SERVICIOS SECTION:START */

.services {
    margin-top: 100px;
    padding: 70px 0;
    background-color: #ebeff1;
    text-align: center;
}

.services h2 {
    color: #2d343c;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 35px;
}

.service {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 35px;
    text-align: left;
}

.service h3 {
    font-size: 20px;
    color: #2d343c;
    margin-bottom: 10px;
}

hr {
    width: 100px;
    border: 2px solid #f35200;
}

.service p {
    font-size: 16px;
    color: #575757;
    margin-top: 15px;
}

/* SERVICIOS SECTION:END */

/* FOOTER SECTION:START */

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #FFFFFF;
    font-size: 10px;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #ecebeb;
    margin-bottom: 10px;
    display: block;
}

.link a:hover {
    color: #f35200;
}

/* FOOTER SECTION:END */

/* MEDIA SECTION:START */

@media(max-width: 991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2d343c;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt {
        padding: 0;
    }

    .products {
        padding: 30px;
    }

    .products-content {
        grid-template-columns: repeat(1,1fr);
    }

    .services {
        padding: 30px;
        margin: 0;
    }

    .services-content {
        grid-template-columns: repeat(1,1fr);
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}

